<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Review</h4>
    <button class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> 
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="updateReview()" novalidate>
      <div class="form-group">
        <input class="w-100" formControlName="header" placeholder="Review Header">
      </div>
      <div class="form-group">
        <textarea class="w-100" formControlName="description" placeholder="Review Description"></textarea>
      </div>
      <div class="form-group">
        <ngb-rating formControlName="rating" [max]="5"></ngb-rating>
      </div>
      <div class="form-group text-right">
        <button type="submit" class="btn btn-primary" [disabled] = "form.pristine || form.invalid">
          Update
        </button>
      </div>
    </form>
  </div>
