<nz-card class="signup-card" nzTitle="User Registration"> 
  <form nz-form [formGroup]="form" (ngSubmit)="signUp()">

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="firstname" nzRequired>
        <span>Firstname</span>
      </nz-form-label>
      <nz-form-control [nzXs]="24">
        <input nz-input id="firstname" formControlName="firstname" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastname" nzRequired>
        <span>Lastname</span>
      </nz-form-label>
      <nz-form-control [nzXs]="24">
        <input nz-input id="lastname" formControlName="lastname" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username" nzRequired>
        <span>Username</span>
      </nz-form-label>
      <nz-form-control [nzXs]="24">
        <input nz-input id="username" formControlName="username" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired>
        <span>E-mail</span>
      </nz-form-label>
      <nz-form-control [nzXs]="24">
        <input nz-input formControlName="email" id="email" />
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired nzErrorTip="Please enter a password!">
        <span>Password</span>
      </nz-form-label>
      <nz-form-control [nzXs]="24">
        <input nz-input type="password" id="password" formControlName="password" (ngModelChange)="updateConfirmPasswordValidator()" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="confirmPassword" nzRequired>
        <span>Confirm Password</span>
      </nz-form-label>
      <nz-form-control [nzXs]="24" [nzErrorTip]="passwordErrorTemplate">
        <input nz-input type="password" formControlName="confirmPassword" id="confirmPassword" />
        <ng-template #passwordErrorTemplate let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please confirm your password!
          </ng-container>
          <ng-container *ngIf="control.hasError('confirm')">
            The passwords do not match!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="contact" nzRequired>
        <span>Phone Number</span>
      </nz-form-label>
      <nz-form-control [nzXs]="24" [nzValidateStatus]="form.controls['contact']">
        <nz-input-group [nzAddOnBefore]="contactPrefixTemplate">
          <ng-template #contactPrefixTemplate>
            <nz-select formControlName="contactPrefix" class="phone-select">
              <nz-option nzLabel="+65" nzValue="+65"></nz-option>
            </nz-select>
          </ng-template>
          <input formControlName="contact" id="contact" nz-input />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzOffset]="6">
        <button nz-button nzType="primary" class="signup-form-button">Register</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
