<!-- <button *ngIf="user$ | async" class="btn btn-info mt-3" (click)="presentCreateMovieModal()">
  Add Movie
</button> -->

<!-- <ngb-alert *ngIf="paginationSubject.value.filter.averageRating != undefined" type="info"
  (close)="setAverageRatingFilter(undefined)">Showing only movies with {{paginationSubject.value.filter.rating}} star
  rating</ngb-alert>
<ngb-alert *ngIf="paginationSubject.value.filter.genre != undefined" type="info" (close)="setGenreFilter(undefined)">
  Showing only movies with {{paginationSubject.value.filter.author.name}} genres</ngb-alert> -->

<ng-container *ngIf="moviesPage$ | async as page">

  <form [formGroup]="filterForm" class="row">
    <div class="col">
      <ng-select
        [items]="genres"
        placeholder="Filter by genre..."
        [multiple]="true"
        clearAllText="Clear"
        formControlName="genre">
      </ng-select>
    </div>
    <div class="col">
      <ngx-slider [options]="filterSliderOptions" formControlName="rating"></ngx-slider>
    </div>
    <div class="col">
      <ngb-pagination
        [collectionSize]="page.totalCount"
        [(page)]="page.page"
        [pageSize]="paginationSubject.value.limit"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="changePage($event)">
      </ngb-pagination>
    </div>
  </form>  

  <div class="d-flex flex-wrap p-4">
    <div class="card mb-4 mx-2" style="width: 20%;" *ngFor="let movie of page.movies">
      <img [src]="movie.posterUrl" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title" [routerLink]="[movie.id]">{{ movie.title }}</h5>
        <p class="card-text">{{ movie.genre }}</p>
        <ng-container *ngIf="user$ | async as user">
          <button *ngIf="movie.contributorId == user.id" class="btn btn-primary mr-2 btn-sm"
            (click)="presentEditMovieModal(movie.id)">
            Edit
          </button>
          <button *ngIf="movie.contributorId == user.id" class="btn btn-danger mr-2 btn-sm"
            (click)="deleteMovie(movie.id)">
            Delete
          </button>
        </ng-container>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <ngb-rating class="review-rating" [rate]="movie.rating" max="5" [readonly]="true"></ngb-rating>
        <span>{{ movie.rating | number : '1.2-2' }}</span>
      </div>
    </div>
  </div>
</ng-container>