<button *ngIf="user$ | async" class="btn btn-info mt-3" (click)="presentCreateMovieModal()">
  Add Movie
</button>

<div class="d-flex flex-wrap p-4">
  <div class="card mb-4 mx-2" style="width: 14rem;" *ngFor="let movie of movies$ | async">
    <img [src]="movie.posterUrl" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title" [routerLink]="[movie.id]">{{ movie.title }}</h5>
      <p class="card-text">{{ movie.genre }}</p>
      <ng-container *ngIf="user$ | async as user">
        <button *ngIf="movie.contributorId == user.id" class="btn btn-primary mr-2" (click)="presentEditMovieModal(movie.id)">
          Edit this movie
        </button>
        <button *ngIf="movie.contributorId == user.id" class="btn btn-danger mr-2" (click)="deleteMovie(movie.id)">
          Delete movie
        </button>
      </ng-container>
    </div>
    <div class="card-footer">
      <span class="badge badge-secondary">{{ movie.rating }}</span>
    </div>
  </div>
</div>


