<div class="card">
  <h4 class="card-header">User Sign Up</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="signUp()" novalidate>
      <div class="form-group">
        <label for="username">Firstname</label>
        <input type="text" formControlName="firstname" />
      </div>

      <div
        *ngIf="
          form.controls['firstname'].invalid &&
          (form.controls['firstname'].dirty ||
            form.controls['firstname'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="form.controls['firstname'].errors.required">
          First name is required
        </div>
      </div>

      <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" formControlName="lastname" />
      </div>
      <div
        *ngIf="
          form.controls['lastname'].invalid &&
          (form.controls['lastname'].dirty || form.controls['lastname'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="form.controls['lastname'].errors.required">
          Last name is required
        </div>
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" />
      </div>
      <div
        *ngIf="
          form.controls['username'].invalid &&
          (form.controls['username'].dirty || form.controls['username'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="form.controls['username'].errors.required">
          User name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" />
      </div>
      <div
        *ngIf="
          form.controls['password'].invalid &&
          (form.controls['password'].dirty || form.controls['password'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="form.controls['password'].errors.required">
          Password is required.
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" formControlName="email" size="40" />
      </div>
      <div
        *ngIf="
          form.controls['email'].invalid &&
          (form.controls['email'].dirty || form.controls['email'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="form.controls['email'].errors.required">
          Email address is required.
        </div>
      </div>

      <div class="form-group">
        <label for="contact">Contact</label>
        <input type="text" formControlName="contact" />
      </div>

      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="form.pristine || form.invalid"
        >
          Register
        </button>
      </div>
    </form>
  </div>
</div>
